body {
    margin: 0;
    font-family: Arial;
    background: #0b1220;
    color: white;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #0f172a;
    position: fixed;
    padding: 20px;
    border-right: 1px solid #1f2937;
}

.sidebar h2 {
    color: #38bdf8;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background: #1e293b;
}

/* MAIN */
.main {
    margin-left: 240px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* CARD */
.card {
    background: #111827;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #1f2937;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    background: #0b1220;
    color: white;
}

/* BOTÃO */
button {
    background: #38bdf8;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #1f2937;
}

th {
    color: #38bdf8;
}
